{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_header %}
    <h1>
        {% trans 'Signals Dashboard' %}
      </h1>
{% endblock %}


{% block main_content %}
<div id="signal_type_list" class="row">
{% for st, v in signals_type.items %}
<div class="col-md-3 col-sm-6 connectedSortable">
     <div class="box box-widget widget-user" id="signal_type_{{ st }}">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-teal-active col-sm-12">
        <div class="row">
            <div class="col-sm-12 widget-group-title">
                <h3 class="widget-user-username">{{ v.desc }}</h3>
            </div>
        </div>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="description-block projects-group">
                <h5 class="description-header"  data-toggle="tooltip" data-placement="top" title="{% trans 'Signals' %}" ><a href="{% url 'ssim-signals-list-by-type' st %}">{{ v.total }} {% trans 'Signals' %}</a>{% comment %}<a href="{% url 'project-list' object.slug %}">{% g3wadmin_get_projects_number object user %} {% trans 'Projects' %}</a>{% endcomment %}</h5>
              </div><!-- /.description-block -->
            </div><!-- /.col -->
            <div class="col-sm-2 col-xs-2">
              <div class="description-block">
                <div class="icon">
                  {% comment %}<a href="{% url 'cdu-config-update' object.slug %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>{% endcomment %}
                </div>
              </div><!-- /.description-block -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div>
  </div><!-- /.widget-user -->
</div>
{% endfor %}
</div>
{% endblock %}
