{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <link href="signal_sheet.css" media="print" rel="stylesheet">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>{% trans 'Sea area' %}</th>
            <th>{% trans 'Points' %}</th>
            <th>{% trans 'Latitudine' %}</th>
            <th>{% trans 'Longitudine' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for f in features %}
            {% for c in f.ll %}
            <tr>
                {% if forloop.first %}<td rowspan="{{ f.n }}">{{ f.name }}</td>{% endif %}
                <td>{{ c.0 }}</td>
                <td>{{ c.1 }}</td>
                <td>{{ c.2 }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td></td>
            <td colspan="3">{% trans 'Datum and type of coordinates' %}</td>
        </tr>
    </tbody>
</table>
</body>
</html>