{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block custom_js_links_page %}
    <script>
        let stype = '{{ type }}'
        let data_url = '{% url "ssim-signals-api-list-by-type" type %}';
        let data_download_url = {
            'img': '{% url "siim-signals-download-img" type %}',
            'zip': '{% url "siim-signals-download-zip" "zip" type %}',
            's57': '{% url "siim-signals-download-zip" "s57" type %}'
        }
        let stati_color = {{ stati_color|safe }};

        const filter_inputs_values = [0, 1, 3, 4, 5 , 6, 7];

        $('#signals_table thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#signals_table thead');

        $(document).ready(function () {
            const dataTable = $('#signals_table').DataTable({
                'order': [[0, 'desc']],
                'processing': false,
                'serverSide': true,
                'searching': true,
                "scrollX": true,

                "initComplete": function () {

                    // Hide general search input
                    $('#signals_table_filter').hide();

                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            if (_.indexOf(filter_inputs_values, colIdx) != -1){
                                $(cell).html('<input style="width: 120px;" type="text" placeholder="' + title + '" />');
                            } else {
                                $(cell).html('<input style="width: 120px;" type="hidden" />');
                            }

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });



                },



                'ajax': {
                    url: data_url,
                    dataSrc: 'data'
                },

                'columns': [
                    {
                        data: 'id',
                        orderable: true
                    },
                    {
                        data: 'passaggio',
                        orderable: true,
                        render: function ( data, type, row, meta ) {
                            return '<span style="color:'+stati_color[data]+';">'+data+'</span>'
                        }
                    },
                    {
                        data:'segn_pad_id',
                        orderable: true,
                        render: function ( data, type, row, meta ) {
                            var bts = ''

                            if (data){
                                bts += '<a target="_blank"class="btn btn-sm btn-default" href="'+data+'"><i class="fa fa-map"></i></a>';
                            }

                            return bts

                        }

                    },
                    {
                        data:'tipo_scheda',
                        orderable: true
                    },
                    {
                        data:'capit_porto',
                        orderable: true
                    },
                    {
                        data:'user',
                        orderable: true
                    },
                    {
                        data: 'creazione',
                        orderable: true
                    },
                    {
                        data: 'aggiornamento',
                        orderable: true
                    },
                    {
                        data: 'map_link',
                        orderable: false,
                        render: function ( data, type, row, meta ) {


                            var bts = '<div class="btn-group">\
                                  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                    <i class="glyphicon glyphicon-download"></i> Export <span class="caret"></span>\
                                  </button>\
                                  <ul class="dropdown-menu">'
                            if (stype != 'pla') {
                                bts += '<li><a target="_blank" href="' + data_download_url["img"] + row.id + '">Coordinate Image</a></li>'
                            }
                            bts += '<li><a target="_blank" href="'+data_download_url["zip"]+row.id+'">Signal sheet</a></li>'
                            bts += '<li><a target="_blank" href="'+data_download_url["s57"]+row.id+'">S57 ShapeFile</a></li>'

                            bts += '</ul>\
                                </div>';
                            if (data && !row.segn_pad_id){
                                bts += '<a target="_blank"class="btn btn-sm btn-default" href="'+data+'"><i class="fa fa-map"></i></a>';
                            }

                            return bts

                        }
                    }

                ]
            })
            dataTable.on('init', dataTable.columns.adjust);
        });
    </script>

{% endblock %}

{% block page_header %}
    <h1>
        {% trans 'Signals  of ' %}{{ title }}
   </h1>
{% endblock %}

{% block main_content %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            {% if perms.signaler_iim.make_report %}
            <a href="{{ new_signal_url }}" target="_blank" class="btn btn-info"><i class="ion ion-plus-circled"></i> {% trans 'New signal' %}</a>
            {% endif %}
        </div>
        <div class="box-body">
            <table id="signals_table" class="table table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>{% trans 'ID signal' %}</th>
                        <th>{% trans 'State' %}</th>
                        <th>{% trans 'Parent signal' %}</th>
                        <th>{% trans 'Card type' %}</th>
                        <th>{% trans 'Port authorities ' %}</th>
                        <th>{% trans 'Signal user' %}</th>
                        <th>{% trans 'Date of insertion' %}</th>
                        <th>{% trans 'Last update' %}</th>
                        <th>{% trans 'Links' %}</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}

