table {
    background-color: blue;
    color: white;
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: .2mm solid white;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    padding-bottom: .25cm;
    padding-top: .25cm;
    text-transform: uppercase;
    text-align: center;
    border-left: .2mm solid white;
    border-top: .2mm solid white;
    border-right: .2mm solid white;
}

td {
    text-align: center;
    border-left: .2mm solid white;
    border-top: .2mm solid white;
    border-right: .2mm solid white;
    border-bottom: .2mm solid white;
}

@page {
  font-family: Pacifico;
  margin: 0cm;
}