{% load guardian_tags %}
{% load i18n %}

<div class="col-md-4">
    <div class="box box-solid bg-green-gradient">
    <div class="box-header">
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button class="btn btn-primary btn-sm pull-right bg-green" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->

        <i class="fa fa-file"></i>
        <h3 class="box-title">{% trans 'Signaler IIM' %}</h3>
    </div>
    <div class="box-body">
        <div>
            {% trans 'Signaler IIM module' %}
        </div>
    </div><!-- /.box-body-->
    <div class="box-footer no-border">
        <div class="row">
            {% if perms.signaler_iim.make_report %}
            <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4;">
                <div class="dashboard-box-footer-icon">
                    <a href="#" data-widget-type="makeSignalTypeList" data-modal-title="{% trans 'New signal' %}"
                       data-html-list-id="#new_signal_types_links">
                        <i class="fa fa-plus"></i><br>
                        <span class="dashboard-box-footer-text">{% trans 'New report' %}</span>
                    </a>
                </div>
            </div><!-- ./col -->
            {% endif %}
            {% if perms.signaler_iim.manage_reports %}
             <div class="col-xs-{% if perms.signaler_iim.make_report %}6{% else %}12{% endif %} text-center" style="border-right: 1px solid #f4f4f4;">
                <div class="dashboard-box-footer-icon">
                    <a href="#" data-widget-type="makeSignalTypeList" data-modal-title="{% trans 'Signals list' %}"
                       data-html-list-id="#signal_types_list_links">
                        <i class="fa fa-list"></i><br>
                        <span class="dashboard-box-footer-text">{% trans 'Reports' %}</span>
                    </a>
                </div>
            </div><!-- ./col -->
            {% endif %}
        </div><!-- /.row -->
    </div>
</div>
</div>

<div id="signal_types_list_links" class="hidden">
    <ul class="list-unstyled">
    {% for st, v in signal_types.items %}
        <li><h4><a href="{% url 'ssim-signals-list-by-type' st %}">{{ v.desc|upper }}</a></h4></li>
    {% endfor %}
    </ul>
</div>

<div id="new_signal_types_links" class="hidden">
    <ul class="list-unstyled">
    {% for ns in new_signal_list %}
        <li><h4><a target="_blank" href="{{ ns.url }}">{{ ns.st}}</a></h4></li>
    {% endfor %}
    </ul>
</div>