{% load i18n %}
<blockquote>
    <p><i>{{ project }}</i> {% trans 'is project for ' %}<a href="{% url 'siim-project-list' %}"> {% trans 'Signaler IMM plugin' %}</a>, {%trans 'make attention on update it. Update could break right working on Singaler IIM module' %} </p>
</blockquote>