{% load i18n %}
<div class="callout callout-warning">
    <p><i>{{ project }}</i> {% trans 'is project for ' %}<a href="{% url 'siim-project-list' %}"> {% trans 'Signaler IMM plugin' %}</a>, {%trans 'make attention on delete it.' %} </p>
    <p>{% trans "Deleting project <b>Signaler IIM instance it'll be erase!</b>" %}</p>
</div>