{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}

{% block page_header %}
    <h1>
        {% trans 'Singaler IIM Users' %}
      </h1>
{% endblock %}

{% block main_content %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            <a href="{% url 'siim-user-add' %}" class="btn btn-info"><i class="ion ion-plus-circled"></i> {% trans 'User' %}</a>
        </div>
        <div class="box-body">
            <table id="users_table" class="table table-hover table-striped" data-widget-type="dataTable">
                <thead>
                    <tr>
                        <th style="width:120px">{% trans 'Actions' %}</th>
                        <th>{% trans 'Username' %}</th>
                        <th>{% trans 'Role' %}</th>
                        <th class="hidden-sm hidden-xs">Email</th>
                        <th class="hidden-sm hidden-xs">{% trans 'First name' %}</th>
                        <th class="hidden-sm hidden-xs">{% trans 'Last name' %}</th>
                        <th class="hidden-sm hidden-xs">{% trans 'Phone' %}</th>
                        <th class="hidden-sm hidden-xs">{% trans 'Port authority/Office' %}</th>
                        <th class="hidden-sm hidden-xs">{% trans 'Created' %}</th>
                    </tr>
                </thead>
                {% for object in object_list %}
                    <tr id="user_{{ object.pk }}">
                        <td>
                            <span class="col-xs-4 icon">
                                <a href="{% url 'siim-user-update' object.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                            </span>
                            <span class="col-xs-4 icon">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"  data-widget-type="deleteItem" data-delete-url="{% url 'siim-user-delete' object.pk %}" data-item-selector="#user_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                            </span>
                        </td>
                        <td>{{ object.username }}</td>

                        <td>
                        {% get_groups4user object as user_groups %}
                        {% for user_group in user_groups %}
                            <span class="label label-warning">{{ user_group }}</span>
                        {% endfor %}
                        </td>
                        <td class="hidden-sm hidden-xs">{{ object.email }}</td>
                        <td class="hidden-sm hidden-xs">{{ object.first_name }}</td>
                        <td class="hidden-sm hidden-xs">{{ object.last_name }}</td>
                        <td class="hidden-sm hidden-xs">{{ object.siimuserextradata.phone }}</td>
                        <td class="hidden-sm hidden-xs">
                            {% if object.siimuserextradata.cp %}
                                {{ object.siimuserextradata.cp_name }}
                            {% else %}
                                {{ object.siimuserextradata.iim_office_name }}
                            {% endif %}
                        </td>
                        <td class="hidden-sm hidden-xs">{{ object.date_joined|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>

                {% endfor %}
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
