{% extends "signaler_iim/email/base.html" %}
{% comment %} Template email body for from 1IL to 2DV state passage {% endcomment %}

{% block main_body %}
<p>Gentile utente Reporter,</p>

<p>La segnalazione è stato reimpostat in lavorazione da un Supervisor</p>

<p>Dati segnalazione di tipo {{ signal_type }} inviata:</p>

<ul>
    <li>Numero (id): <a href="{{ map_link }}">{{ data.id }}</a></li>
    <li>Reporter: {{ reporter.first_name }} {{ reporter.last_name }} ({{ reporter.username }})</li>
</ul>

<ul>
    <li>Segnalazione: <a href="{{ map_link }}">{{ map_link }}</a></li>
    <li>Le segnalazioni: <a href="{{ signals_link }}">{{ signals_link }}</a></li>
</ul>
{% endblock %}


